.herobutton{
    height:200px;
    width: 200px;
    background: rgba(22, 182, 22, 0.463);
    color: rgb(1, 131, 48);
    font-size: xx-large;
    font-weight: 900;
    border:  3px solid rgb(1, 131, 48);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 0px 5px 5px gray;
}

.herobutton:hover{
    opacity: 0.9;
    background: rgba(22, 182, 22, 0.249);
}


#gameSpace{
    margin-inline: 1rem;
    padding: 1rem;
    background-color: rgb(16, 18, 37);
    border-radius: 1rem;
    gap: 1rem;
}

.wordBox{
    width: 100%;
    padding-top: 0.7rem;
    height: 3rem;
    text-align: center;
    color: rgb(166, 167, 194);
    border-radius: 1rem;
    font-size: large;
    font-weight: 600;
    background: #362353;
}
.timer{
    text-align: center;
    font-size: 10rem;
}

.green{
    color: rgb(71, 164, 71);
}

.red{
    color: rgb(224, 103, 103);
}